
.todo-container {
  display: flex;
  justify-content: center;
}

.todo-content {
  max-width: 550px;
  margin: 0 auto;
}

.todo {
  flex: 1;
}

@media (max-width: 566px ) {
  h1 {
    font-size: 14px;
  }
}
